{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "block-scoped-var": 0,
    "camelcase": 0,
    "func-names": 1,
    "key-spacing": 0,
    "no-catch-shadow": 1,
    "no-console": 1,
    "no-div-regex": 1,
    "no-eq-null": 1,
    "no-floating-decimal": 1,
    "no-multiple-empty-lines": 1,
    "no-process-exit": 0,
    "no-self-compare": 1,
    "no-shadow": 0,
    "no-throw-literal": 1,
    "no-undefined": 0,
    "no-var": 1,
    "no-void": 1,
    "no-underscore-dangle": 0,
    "no-warning-comments": 1,
    "quotes": [2, "single", "avoid-escape"],
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": 1
  },
  "globals": {
    describe: true,
    it: true,
    before: true,
    beforeEach: true,
    after: true,
    afterEach: true
  }
}
