[user]
  name = David Smith
  email = codeactual@gmail.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[github]
  user = codeactual
[help]
  autocorrect = 1
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[rebase]
	stat = true
[push]
	default = tracking
