[user]
  name = David Smith
  email = codeactual@gmail.com
[alias]
  amend = commit --amend -C HEAD
  blame-editor = blame -C
  br = branch
  cdiff = diff --cached
  clog = log --stat -n 1
  difflast = diff HEAD^ HEAD
  ignored = ls-files --others -i --exclude-standard
  logmasterin = log origin/master ^master
  logmasterout = log master ^origin/master
  modified = ls-files -m
  timeline = log --graph --decorate --branches --pretty=oneline
  unstage = reset HEAD
  untracked = ls-files -o --exclude-standard
  wdiff = diff --word-diff
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[github]
  user = codeactual
[help]
  autocorrect = 1
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[rebase]
	stat = true
[push]
	default = tracking
