[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = https://github.com/guileen/vim-node.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "zsh/bin/redis-faina"]
	path = zsh/bin/redis-faina
	url = https://github.com/Instagram/redis-faina.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git://github.com/helino/vim-json.git
[submodule ".vim/bundle/zendcoding-vim"]
	path = .vim/bundle/zendcoding-vim
	url = https://github.com/mattn/zencoding-vim.git
