.Private
.cache/
.compiz*
.config/
.dbshell
.dbus/
.ecryptfs
.esd_auth
.fehbg
.fluxbox
.font*
.gconf
.gegl*
.gem/
.gimp*
.gitconfig
.gksu.lock
.gnome2/
.gstreamer*
.gtk*
.hplip/
.lesshst
.libreoffice/
.local/
.mission-control/
.mozilla/
.npm/
.opera/
.pki/
.pulse-cookie
.pulse/
.shotwell/
.ssh/
.subversion/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.tumblr
.viminfo
.xsession-errors
Desktop/
Downloads/
Pictures/
Ubuntu*
bin
bookmarkbackups
config
examples.desktop
opt/
outbox/
pear.conf
sandboxes/
tmp/
zsh/local
*.log
*.yaml
*.png
*.yaml
*authority*
*dump*
*push*
*history*
