.Private
.adobe*
.android*
.cache/
.compiz*
.dbshell
.dbus/
.eclipse*
.ecryptfs
.esd_auth
.fehbg
.fluxbox
.font*
.gconf
.gegl*
.gem/
.gimp*
.gksu.lock
.gnome2/
.gstreamer*
.gtk*
.hplip/
.htoprc
.icedtea/
.ipython/
.lesshst
.libreoffice/
.local/
.macromedia*
.mission-control/
.mongorc.js
.mozilla/
.node-gyp/
.npm/
.npmrc
.opera/
.pearrc
.pki/
.pulse-cookie
.pulse/
.rnd
.shotwell/
.ssh/
.subversion/
.sudo_as_admin_successful
.swt/
.thumbnails/
.thunderbird/
.tumblr
.viminfo
.vim/sessions
.zzz*
workspace/
.xsession-errors
.xscreensaver
.Xmodmap
Desktop/
Downloads/
Dropbox/
Pictures/
Ubuntu*
/bin
bookmarkbackups
config
examples.desktop
mac/
opt/
outbox/
pear.conf
sandboxes/
tmp/
zsh/local
*.log
*.yaml
*.png
*.yaml
*authority*
*dump*
push
*history*
.irssi
.rpmdb
docker
.config
.google_authenticator
*.pyc
