.Private
.adobe*
.android*
.cache/
.compiz*
.config/
.dbshell
.dbus/
.eclipse*
.ecryptfs
.esd_auth
.fehbg
.fluxbox
.font*
.gconf
.gegl*
.gem/
.gimp*
.gksu.lock
.gnome2/
.gstreamer*
.gtk*
.hplip/
.htoprc
.ipython/
.lesshst
.libreoffice/
.local/
.macromedia*
.mission-control/
.mozilla/
.npm/
.opera/
.pearrc
.pki/
.pulse-cookie
.pulse/
.shotwell/
.ssh/
.subversion/
.sudo_as_admin_successful
.swt/
.thumbnails/
.thunderbird/
.tumblr
.viminfo
workspace/
.xsession-errors
.xscreensaver
.Xmodmap
Desktop/
Downloads/
Pictures/
Ubuntu*
/bin
bookmarkbackups
config
examples.desktop
opt/
outbox/
pear.conf
sandboxes/
tmp/
zsh/local
*.log
*.yaml
*.png
*.yaml
*authority*
*dump*
*push*
*history*
